<h1>CloudMusic</h1>
<h2>Search page</h2>
Hello World ;)

<%= form_tag(root_path, method: "get") do %>
  <%= label_tag(:name, "Search for:") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @artists.any? %>
  <ul>
    <% @artists.each do |artist| %>
      <% if artist.track_count > 0 %>
        <li>
          <span class="artist-name">
            <%= image_tag artist.avatar_url %>
            <%= link_to artist.full_name, artist_path(artist.id) %>
            <%= link_to 'See on SoundCloud', artist.permalink_url %>
            <%= artist.track_count %> tracks
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
